[submodule "third_party/dinov3"]
	path = third_party/dinov3
	url = git@github.com:facebookresearch/dinov3.git
[submodule "third_party/pytorch-lightning"]
	path = third_party/pytorch-lightning
	url = git@github.com:Lightning-AI/pytorch-lightning.git
[submodule "third_party/multi_task_learning_pytorch"]
	path = third_party/multi_task_learning_pytorch
	url = git@github.com:SimonVandenhende/Multi-Task-Learning-PyTorch.git
[submodule "third_party/LibMTL"]
	path = third_party/LibMTL
	url = git@github.com:median-research-group/LibMTL.git
[submodule "third_party/dinov3-finetune"]
	path = third_party/dinov3-finetune
	url = git@github.com:RobvanGastel/dinov3-finetune.git
[submodule "third_party/peft"]
	path = third_party/peft
	url = git@github.com:huggingface/peft.git
[submodule "third_party/c-mixup"]
	path = third_party/c-mixup
	url = git@github.com:huaxiuyao/C-Mixup.git
[submodule "third_party/sam"]
	path = third_party/sam
	url = git@github.com:davda54/sam.git
[submodule "third_party/GSAM"]
	path = third_party/GSAM
	url = git@github.com:juntang-zhuang/GSAM.git
[submodule "third_party/F-SAM"]
	path = third_party/F-SAM
	url = git@github.com:nblt/F-SAM.git
[submodule "third_party/DPT"]
	path = third_party/DPT
	url = git@github.com:isl-org/DPT.git
[submodule "third_party/detectron2"]
	path = third_party/detectron2
	url = git@github.com:facebookresearch/detectron2.git
[submodule "third_party/DI-Retinex"]
	path = third_party/DI-Retinex
	url = git@github.com:sunshangquan/DI-Retinex.git
[submodule "third_party/augmix"]
	path = third_party/augmix
	url = git@github.com:google-research/augmix.git
[submodule "third_party/albumentations"]
	path = third_party/albumentations
	url = git@github.com:albumentations-team/albumentations.git
[submodule "third_party/TabPFN"]
	path = third_party/TabPFN
	url = git@github.com:PriorLabs/TabPFN.git
[submodule "third_party/fixmatch"]
	path = third_party/fixmatch
	url = git@github.com:google-research/fixmatch.git
[submodule "third_party/uda"]
	path = third_party/uda
	url = git@github.com:google-research/uda.git
[submodule "third_party/lightly-train"]
	path = third_party/lightly-train
	url = https://github.com/lightly-ai/lightly-train.git
[submodule "third_party/eomt"]
	path = third_party/eomt
	url = git@github.com:tue-mps/eomt.git
[submodule "third_party/ray"]
	path = third_party/ray
	url = git@github.com:ray-project/ray.git
